

.footer-line-divider {
    background-color: #ffd166;
    height: 1px;
}

.footer-container {
    padding-top: calc(8px + 0.8vw);
    padding-bottom: calc(40px + 4vw);
    background-color: #fff3b0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    font-family: 'Courgette', cursive;
    font-size: calc(16px + 1.6vw);
    font-weight: bold;
    color: #ff5a5f;
}

.footer-description {
    font-family: 'Oswald', sans-serif;
    font-size: calc(10px + 1vw);
    color: #db3a34;
}

.footer-powered {
    font-family: 'Goldman', cursive;
    margin-top: calc(6px + 0.6vw);
    font-size: calc(9px + 0.9vw);
    color: #9e2a2b;
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: calc(9px + 0.9vw);
    color: #9e2a2b;
}